:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(241, 28%, 60%);
    --gradientColor: linear-gradient(to right ,hsl(19,100%,33%),hsl(0,0%,100%));
    --black:  hsl(0, 100%, 2%);
    --white: hsl(0, 29%, 97%);
    --input:hsl(0, 29%, 97%);
    --body:hsl(0, 29%, 97%);
    --cardBG:hsl(0, 29%, 97%);
}

.locicon{
    color: black;
    margin-top: 10px;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.col1{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    width: 50%;
}
.col2{
    position: relative;
    display: inline-block;
    margin-right: -4.5rem;
    width: 50%;
}


.home{
    width:100%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(rgb(91, 11, 182), green, blue);
        top:0;
        bottom:0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }
   img{
        position :absolute;
        height:104%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
       
    }
    .container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 104%;
        background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity (last value) as needed */
    }
   
    /* .smallText{
        margin-left: 2rem;
    } */

    .homeContent{
        padding-top: 3rem;
        width: 50%;
        height:max-content;
        padding: 8rem,1.4 rem,3 rem;
        display: flex;
        
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--white);
        z-index: 100;
        margin-bottom: 3rem;
        .textDiv{
            padding: 2rem 0;
            margin-top: 3rem;
            margin-left: -9rem;
            font-size: x-large;
            z-index: 1;
            
            .smallText{
            
                font-size: 30px;
                text-transform:uppercase ;
               
            }
            .homeTitle{
                position:relative ;
                font-size: 2.5rem;
            }
        }

        .cardDiv{
            position: relative;
            padding: 1rem;
            background-color: white;
            border-radius: 20px;
            gap: 1rem;
            line-height: 4rem;
            width: 140%;
            text-align: center;
            display: inline-block;
            justify-content: center;
            margin-left: -9rem;
            text-align: center;
            height: 250px;
            margin-top: -1.5rem;

            label{
                margin-top: -1rem;
                display: flex;
                margin-left: 10px;
                color: black;
                padding: bottom 10px;
                font-size: 20x;
                font-weight: 600;
            }
        
            .input{
                height: 40px;
                padding: 2 1rem;
                background: rgb(234, 231, 231);
                border-radius: 3rem;
                line-height: 2rem;
                width: 80%;

                input{
                    margin-left: 1rem;
                    background-color: rgb(234, 231, 231);;
                    border: none;
                    outline: none;
                    width:88%;
                    font-size: 15px;
                    font-weight: 200;
                    &::placeholder{
                        font: size 13px; ;
                    }

                }
            }
          
           
        }
    }
    .dateInput{
        margin-top: 1rem;
    }
    .startButton{
        margin-top: 25px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 20px;
        
        margin-left: -60px;
        z-index: 1;
       border: none;
    }
    .propbut{
         padding: 0.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 30px;
        text-align: center;
        color: aliceblue;
         width: 20rem;
         margin-top: -1rem;
         background:  #028BB2;
         z-index: 1;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 18px;
        border: none;
        
        
    } 
    a{
        color: white;
    }

}