
@media screen and (max-width: 550px) {
  .iconss{
    img {
        max-width: 100%;
        height: auto;
        
      }
}
.column {
    float: left;
    margin-top: 5rem;
    padding: 20px;
    height: 180px;
    margin-left: -6%;
    
     justify-content: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
   
    
  }
.secTitle{
    text-align: center;
    padding: 2rem;
    font-size: 20px;
    position: relative;
    z-index: 2;
    top: 5rem;
   line-height: 2rem;
}
/* .underline{
    text-decoration: underline;
   text-underline-position:above
} */
 
.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 5rem;
  color:rgb(84, 83, 83);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.line1{
  border: none;
 margin-top: 1rem;
  width: 59%;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 6px;
  background-color:#F7D660 ;
}
.line2{
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(84, 83, 83);
  justify-content: center;
  text-align: center;
  line-height: 3rem;
}

:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(241, 28%, 60%);
    --gradientColor: linear-gradient(to right ,hsl(19,100%,33%),hsl(0,0%,100%));
    --black:  hsl(0, 100%, 2%);
    --white: hsl(0, 29%, 97%);
    --input:hsl(0, 29%, 97%);
    --body:hsl(0, 29%, 97%);
    --cardBG:hsl(0, 29%, 97%);
}

button{
    background-color: rgb(19, 78, 111);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;

}

.seeContent{
  
   display:grid;
   margin-left: -6.5rem;
   
     .singleDestination{
        height:100%;
        width: 20rem;
        margin-left: 1rem;
        padding-top: 1rem;
        row-gap: 2 rem;
        border-radius: 15px;
        align-items: center;
        box-shadow: 0 4px 8px rgba(21, 21, 21, 0.6);
        overflow: hidden;
        position: relative;
        top : 7rem;

        &:hover{
            background: rgba(204, 202, 202, 0.914);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.6);
            transition: .3s ease;
        }
        .imageDiv{
            height: 250px;
            width: 90%;
            overflow: hidden;
           margin: 1rem;
           border-radius: 15px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .cardInfo{
            
           padding: 1rem; 
           .destTitle{
            color: var(--black);
            font-size: 1.25rem;
            justify-content: center;
           
            text-align: center;
           }
           

           }
        }

     }

.cardbutton{
  background:  #028BB2;
  font-weight: 500;
 margin-left: -1.5rem;
  box-shadow:4rem;
 justify-content: center;
 text-align: center;
  text-decoration: none;
  
}
.destTitle{
  position: relative;
  top : -0.5rem;
}
.icon{
  left:20px;
}
}

@media screen and (max-width: 759px) {
  .iconss{
    img {
        max-width: 100%;
        height: auto;
        
      }
}
.column {
    float: left;
    width: 25%;
    padding: 20px;
    height: 180px;
    width: 120px;
    left: 8%;
    position: relative;
     top : 10rem;
     justify-content: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
   
    
  }
.secTitle{
    text-align: center;
    padding: 2rem;
    font-size: 20px;
    position: relative;
    z-index: 2;
    top: 5rem;
   line-height: 2rem;
}
/* .underline{
    text-decoration: underline;
   text-underline-position:above
} */
 
.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 3rem;
  color:rgb(84, 83, 83);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.line1{
  border: none;
 margin-top: 1rem;
  width: 34%;
  justify-content: center;
  position: relative;
  left: 33%;
  height: 6px;
  background-color:#F7D660 ;
}
.line2{
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(84, 83, 83);
  justify-content: center;
  text-align: center;
}

:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(241, 28%, 60%);
    --gradientColor: linear-gradient(to right ,hsl(19,100%,33%),hsl(0,0%,100%));
    --black:  hsl(0, 100%, 2%);
    --white: hsl(0, 29%, 97%);
    --input:hsl(0, 29%, 97%);
    --body:hsl(0, 29%, 97%);
    --cardBG:hsl(0, 29%, 97%);
}

button{
    background-color: rgb(19, 78, 111);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;

}
.cards{
   margin-left: 6rem;
  
  justify-content: space-between;
  width: 25%;
}
.seeContent{
   justify-content: center; 
   display: grid;
     .singleDestination{
        height:100%;
        width: 20rem;
        padding: 1rem;
        row-gap: 2 rem;
        border-radius: 15px;
        align-items: center;
        box-shadow: 0 4px 8px rgba(21, 21, 21, 0.6);
        overflow: hidden;
        position: relative;
        top : 7rem;

        &:hover{
            background: rgba(204, 202, 202, 0.914);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.6);
            transition: .3s ease;
        }
        .imageDiv{
            height: 250px;
            width: 90%;
            overflow: hidden;
           margin: 1rem;
           border-radius: 15px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .cardInfo{
            
           padding: 1rem; 
           .destTitle{
            color: var(--black);
            font-size: 1.25rem;
            justify-content: center;
           
            text-align: center;
           }
           /* .continent{
            gap: .5rem;
            text-align: center;
           position: relative;
            left: 33%;
            top :-1.5rem; 
            justify-content: center;

            .icon{
              position: relative;
              top: 10px;
              left:1%
            }

            .name{
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                justify-content: center;
              }
              .desc{
                font-size: 13.5px;
                font-weight: 200;

              } */
            

           }
        }

     }
/* } */
.cardbutton{
  background:  #028BB2;
  font-weight: 500;
 margin-left: 4.5rem;
  box-shadow:4rem;
 justify-content: center;
 text-align: center;
  text-decoration: none;
  
}
.destTitle{
  position: relative;
  top : -0.5rem;
}
.icon{
  left:20px;
}
}


@media screen and (min-width: 760px) {
.iconss{
    img {
        max-width: 100%;
        height: auto;
        
      }
}
.column {
    float: left;
    width: 25%;
    padding: 20px;
    height: 180px;
    width: 120px;
    left: 35%;
    position: relative;
     top : 10rem;
     justify-content: center;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
   
    
  }
.secTitle{
    text-align: center;
    padding: 2rem;
    font-size: 20px;
    position: relative;
    z-index: 2;
    top: 5rem;
   line-height: 2rem;
}
/* .underline{
    text-decoration: underline;
   text-underline-position:above
} */
 
.title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 3rem;
  color:rgb(84, 83, 83);
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.line1{
  border: none;
 margin-top: 1rem;
  width: 34%;
  justify-content: center;
  position: relative;
  left: 33%;
  height: 6px;
  background-color:#F7D660 ;
}
.line2{
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(84, 83, 83);
  justify-content: center;
  text-align: center;
}

:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(241, 28%, 60%);
    --gradientColor: linear-gradient(to right ,hsl(19,100%,33%),hsl(0,0%,100%));
    --black:  hsl(0, 100%, 2%);
    --white: hsl(0, 29%, 97%);
    --input:hsl(0, 29%, 97%);
    --body:hsl(0, 29%, 97%);
    --cardBG:hsl(0, 29%, 97%);
}

button{
    background-color: rgb(19, 78, 111);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;

}
.cards{
   margin-left: 6rem;
  display: inline-block;
  justify-content: space-between;
  width: 25%;
}
.seeContent{
  justify-content: space-between; 
   
     .singleDestination{
       width: 100%;
        height:100%;
        display: grid;
        padding: 1rem;
        row-gap: 2 rem;
        border-radius: 15px;
        align-items: center;
        box-shadow: 0 4px 8px rgba(21, 21, 21, 0.6);
        overflow: hidden;
        position: relative;
        top : 7rem;
      
        &:hover{
            background: rgba(204, 202, 202, 0.914);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.6);
            transition: .3s ease;
        }
        .imageDiv{
            height: 250px;
            width: 90%;
            overflow: hidden;
           margin: 1rem;
           border-radius: 15px;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .cardInfo{
            
           padding: 1rem; 
           .destTitle{
            color: var(--black);
            font-size: 1.25rem;
            justify-content: center;
           
            text-align: center;
           }
           /* .continent{
            gap: .5rem;
            text-align: center;
           position: relative;
            left: 33%;
            top :-1.5rem; 
            justify-content: center;

            .icon{
              position: relative;
              top: 10px;
              left:1%
            }

            .name{
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                justify-content: center;
              }
              .desc{
                font-size: 13.5px;
                font-weight: 200;

              } */
            

           }
        }

     }
/* } */
.cardbutton{
  background:  #028BB2;
  font-weight: 500;
  position: relative;
  right: -30%;
  width: 50%;
  box-shadow:4rem;
 justify-content: center;
 text-align: center;
  text-decoration: none;
  
}
.destTitle{
  position: relative;
  top : -0.5rem;
}
.icon{
  left:20px;
}
}