:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(241, 28%, 60%);
    --gradientColor: linear-gradient(to right ,hsl(19,100%,33%),hsl(0,0%,100%));
    --black:  hsl(0, 100%, 2%);
    --white: hsl(0, 29%, 97%);
    --input:hsl(0, 29%, 97%);
    --body:hsl(0, 29%, 97%);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content : center;
    background: var(--whiteColorDeam);
    width: 100%;
   padding: 1rem ;
   z-index : 1000;
}

.logo{
    color: var(--blackColor);
}

@media screen and (max-width: 768px) {
    .navBar{
        position: absolute;
        background: var(--whiteColorDeam);
        height: max-content;
        width: 80%;
        border-radius: 1rem;
        top: 6rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 2000;
        box-shadow: 0 2px 4px rgba(2,15,29,0.904);
        transition: .3s ease-ini-out;

        .navLists {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin : auto;

        .navItem{
            padding: .5rem 0;
        }
        }

    }
}