background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Page1Bg.jpg');
    background-size: cover;
    background-position: center;
    filter: opacity(1); /* Optional: Add opacity to the background image */
   
  }
  .home-container2 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content2 {
   
    margin-top: -300px;
      z-index: 1;
      text-align: center;
      color: rgb(242, 241, 241);
      font-weight: 600;
      h1{
          font-size: 3rem;
          color: #f0ecec;
          font-family: 'Poppins', sans-serif;
        }
        p{
          font-size: 1rem;
          padding-top: 30px;
          color: #f0ecec;
          font-family: 'Poppins', sans-serif;
        }
    }
    .black-box {
      background-color: rgba(0, 0, 0, 0.5); /* Black box with opacity */
      padding: 18px;
      border-radius: 50px;
      opacity: 1;
      max-width: 85%;
      margin-right: 50px;
      margin-top: -4rem;
       border-radius:40px;
       margin-left: 7%;
    }  
    .button2 {
  
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      margin-right: 30px;
      margin-bottom: 15px;
      border: none;
      border-radius: 30px;
      background-color: #f0ecec;
      color: rgb(11, 1, 1);
      cursor: pointer;
      font-size: 1rem;
      width: 25%;
      
    }
    .button2_selected{
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      margin-right: 30px;
      margin-bottom: 15px;
      border: none;
      border-radius: 30px;
      background-color:  rgb(11, 1, 1);
      color: #f0ecec ;
      cursor: pointer;
      font-size: 1rem;
      width: 25%;
    }
  
    .button2:hover {
      background-color: #120101; /* Change color on hover */
      color: #f0ecec;

      
    }
    .button2.selected {
      background-color: #ff0000; /* Change color when selected */
    }
    .button2:active, 
.button2:focus {
  background-color: black; /* Color when button is clicked or selected */
  color: #f0ecec;
  text-decoration: none;
}
    
    
    
.button-container2 {
  position: absolute;
  top: calc(50% ); /* Adjust the distance below the text */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 70%;
  
}

.btn2{
  
  background-color: rgb(20, 92, 128); 
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; 
  background:  #028BB2;
  border-radius:30px;
  text-align: center;
  color: aliceblue;
  position: relative;
  top : 2rem;
 /* margin-top: 2rem; */
 width: 20%;
 font-size: large;
 font-weight: 500;

}
/* .loading{
  font-weight: 3rem;
  color: #f0ecec;
  font-size: 3rem;
} */

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: relative;
  left: 49%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}