
@media screen and (max-width: 550px){
  .home-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:300%;
    background-image: url('../Assets/Page1Bg.jpg');
    background-size: cover;
    background-position: center;
    filter: opacity(1); /* Optional: Add opacity to the background image */
  }
  
  .content {
     margin-top: 100px;
    z-index: 1;
    text-align: center;
    color: rgb(242, 241, 241);
    font-weight: 600;

    h1{
        font-size: 3rem;
        width: 90%;
        margin-left: 2.5rem;
      }
      p{
        font-size: 1rem;
        padding-top: 20px;
      }
  }
 

  .button-container {

    display: grid;
    justify-content:space-between;
    
    margin-left: 5rem;
    margin-top: 3rem;
   
   
  }
  
  .button-container img {
   
   
    cursor: pointer;
    margin : -10px;
    margin-bottom: 1px;
    gap: 2rem;
    background-color: #f8f9fa;
    border:8px solid rgb(227, 210, 14) ;
    border-radius: 360%;
    padding:2rem;
   
  }
  .icon{
    
    p{
        font-size: 16px;
        text-align:center;
        color: black;
          
    }
  }
  .btn{
    
    background-color: rgb(20, 92, 128);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;
    margin-top: 3rem;
    width: 2rem;

  }
  .but{
    
    background-color: #f8f9fa;
    margin: 20px;
    margin-top: -0.5rem;
    
  
  }
  .but:hover{
    background-color: #aad6e1;
    transform: scale(1.1);

   
}
.but:active, 
.but:focus {
  background-color: #aad6e1; /* Color when button is clicked or selected */
  color: #f0ecec;
  text-decoration: none;
  
}

.dates{
  color: rgb(227, 210, 14);
}

.btnpagg1{
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 34px;
  text-align: center;
  color: aliceblue;
   margin-right: -15%;
   background:  #028BB2;
   z-index: 1;
  font-weight: 500;
  font-size: 18px;
  border: none;
  margin-top: 20rem;
  width: 10rem;
}

}

@media screen and (max-width: 768px){
  .home-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background-image: url('../Assets/Page1Bg.jpg');
    background-size: cover;
    background-position: center;
    filter: opacity(1); /* Optional: Add opacity to the background image */
  }
  
  .content {
     margin-top: 100px;
    z-index: 1;
    text-align: center;
    color: rgb(242, 241, 241);
    font-weight: 600;

    h1{
        font-size: 3rem;
      }
      p{
        font-size: 1rem;
        padding-top: 20px;
      }
  }
 

  .button-container {

    display: grid;
    justify-content:space-between;
    height: 28rem;
    margin-left: 25%;
    margin-top: 3rem;
    
    
   
  }
  
  .button-container img {
   
    cursor: pointer;
    margin : -10px;
    margin-bottom: 1px;
    gap: 2rem;
    background-color: #f8f9fa;
    border:8px solid rgb(227, 210, 14) ;
    border-radius: 360%;
    padding:2rem;
   
  }
  .icon{
    
    p{
        font-size: 16px;
        text-align:center;
        color: black;
          
    }
  }
  .btn{
    
    background-color: rgb(20, 92, 128);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;
    margin-top: 3rem;
   

  }
  .but{
   
    background-color: #f8f9fa;
    margin: 20px;
    margin-top: -0.5rem;
    padding-top: 2rem;
  
  }
  .but:hover{
    background-color: #aad6e1;
    transform: scale(1.1);

   
}
.but:active, 
.but:focus {
  background-color: #aad6e1; /* Color when button is clicked or selected */
  color: #f0ecec;
  text-decoration: none;
  
}

.dates{
  color: rgb(227, 210, 14);
}

.btnpagg1{
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 34px;
  text-align: center;
  color: aliceblue;
   margin-top: -4rem;
   background:  #028BB2;
   z-index: 1;
  font-weight: 500;
  font-size: 18px;
  border: none;
  position: relative;
  top: 45rem;  
  width: 10rem;
  margin-left:-4.5%;
}
}

@media screen and (min-width: 769px){

.home-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Page1Bg.jpg');
    background-size: cover;
    background-position: center;
    filter: opacity(1); /* Optional: Add opacity to the background image */
  }
  
  .content {
     margin-top: 100px;
    z-index: 1;
    text-align: center;
    color: rgb(242, 241, 241);
    font-weight: 600;

    h1{
        font-size: 3rem;
      }
      p{
        font-size: 1rem;
        padding-top: 20px;
      }
  }
 

  .button-container {

    display: flex;
    justify-content:space-between;
    height: 28rem;
    
    margin-top: 3rem;
    
    
   
  }
  
  .button-container img {
    width: 180px; /* Adjust the width of the buttons as needed */
    height: auto;
    cursor: pointer;
    margin : -10px;
    margin-bottom: 1px;
    gap: 2rem;
    background-color: #f8f9fa;
    border:8px solid rgb(227, 210, 14) ;
    border-radius: 360%;
    padding:2rem;
   
  }
  .icon{
    
    p{
        font-size: 16px;
        text-align:center;
        color: black;
          
    }
  }
  .btn{
    
    background-color: rgb(20, 92, 128);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    border-color: white;
    margin-top: 3rem;
   

  }
  .but{
    width: 15rem;
    height: 20rem;
    background-color: #f8f9fa;
    margin: 20px;
    margin-top: -0.5rem;
    
  
  }
  .but:hover{
    background-color: #aad6e1;
    transform: scale(1.1);

   
}
.but:active, 
.but:focus {
  background-color: #aad6e1; /* Color when button is clicked or selected */
  color: #f0ecec;
  text-decoration: none;
  
}

.dates{
  color: rgb(227, 210, 14);
}

.btnpagg1{
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 34px;
  text-align: center;
  color: aliceblue;
   margin-top: -4rem;
   background:  #028BB2;
   z-index: 1;
  font-weight: 500;
  font-size: 18px;
  border: none;
  position: relative;
  top: -5rem;  
  width: 10rem;
}
}